<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/done.css') }}">
    </head>
    <body>
        <div class="horizontal-layout">
            <div class="vertical-layout">
                <p>Ready to start the competition?</p>
                <form method="POST">
                    <input type="submit" id='script' name="submit" value="Click here!">
                </form>
            </div>
        </div>
    </body>
</html>