<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/problem.css') }}">
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                TeX: {
                    equationNumbers: {
                        autoNumber: "AMS"
                    }
                },
                tex2jax: {
                  inlineMath: [ ['$','$'], ['$$', '$$'] ],
                  processEscapes: true,
                }
            });
        </script>
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    </head>
    <body>
        <div class="vertical-layout">
            <div class="horizontal-layout">
                <div class="problem-column">
                    <div class="text">
                        <h2 class="no-margin">{{ title }}</h2>
                        {{ statement|safe }}
                    </div>
                </div>
                <div class="submission-column">
                    <form method="POST">
                        <div class="editor-container">
                            <div id="editor">{{ content }}</div>
                        </div>
                        <textarea id="editor-dummy" name="user_input" style="display: none;"></textarea>
                        <button id="submit" type="submit">Submit</button>
                    </form>
                    <pre class="code"><code>{{ output }}</code></pre>
                </div>
            </div>
            <button {% if not complete %} disabled {% endif %} class="next-button"
                    onclick="window.location='{{ url_for('problems') }}';">
                <svg width="70px" viewBox="0 0 800 600" xmlns="http://www.w3.org/2000/svg">
<!--                    <rect class="button-rect" width="800" height="600" rx="80" ry="80" fill="#8F8ECC"/>-->
                    <polygon class="button-arrow" points="100, 200 100, 400 500, 400 500, 500 700, 300 500, 100 500, 200" fill=
                            {% if complete %} "#51a3cc" {% else %} "#8eb7cc" {% endif %}/>
                </svg>
            </button>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.7/ace.js"></script>
        <script src="{{ url_for('static', filename='scripts/problem.js') }}"></script>
        <script>
            function checkValidity() {
                $.getJSON({
                    url: "/get_valid_username",
                    success: function(data){
                        console.log(data);
                        switch (data) {
                            case 1:
                                window.location.replace("{{ url_for('login', extra_content="Oops, looks like you got kicked (or maybe the server went down?). You can always join back in.") }}");
                                break;
                            case 2:
                                window.location.replace("{{ url_for('leaderboard', extra_content="That&#39;s a wrap! Here are the final scores.") }}");
                        }
                    }
                });
            }

            checkValidity();
            setInterval(checkValidity, 10000);
        </script>
    </body>
</html>