<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/problem.css') }}">
        <script type="text/x-mathjax-config">
                MathJax.Hub.Config({
                    TeX: {
                        equationNumbers: {
                            autoNumber: "AMS"
                        }
                    },
                    tex2jax: {
                      inlineMath: [ ['$','$'], ['$$', '$$'] ],
                      processEscapes: true,
                    }
                });
            </script>
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.7/ace.js"></script>
    </head>
    <body>
        <div class="vertical-layout">
            <div class="horizontal-layout">
                <div class="problem-column">
                    <div class="text"><h2 class="no-margin">{{ title|safe }}</h2>
                        {{ statement|safe }}
                    </div>
                </div>
                <div class="submission-column">
                    <form method="POST" class="form">
                        <div class="editor-container">
                            <div id="editor">{{ content }}</div>
                        </div>
                        <textarea id="editor-dummy" name="user_input" style="display: none;"></textarea>
                        <div class="submission-pane">
                            <select name="language" id="language-select">
                                <option value="python">Python 3.11</option>
                                <option value="cpp">C++23</option>
                            </select>
                            <button id="submit" type="submit" class="submit">Submit</button>
                        </div>
                    </form>
                    <pre class="code" style="max-height: 15vh;"><code>{{ output }}</code></pre>
                </div>
            </div>
            <div id="timer" class="text timer"></div>
        </div>
        <script>
            let homepageURL = "{{ url_for('login', extra_content="Oops, looks like you got kicked (or maybe the server went down ?). You can always join back in.") }}";
            let leaderboardURL = "{{ url_for('leaderboard', extra_content="That&#39;s a wrap! Here are the final scores.") }}";
            let selector = document.getElementById("language-select");
            selector.value = "{{ language }}";
        </script>
        <script src="{{ url_for('static', filename='scripts/problem.js') }}"></script>
    </body>
</html>