<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='problem.css') }}">
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                TeX: {
                    equationNumbers: {
                        autoNumber: "AMS"
                    }
                },
                tex2jax: {
                  inlineMath: [ ['$','$'], ['$$', '$$'] ],
                  processEscapes: true,
                }
            });
        </script>
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    </head>
    <body>
        <div class="vertical-layout">
            <div class="horizontal-layout">
                <div class="problem-column">
                    <div class="text">
                        {{ statement }}
                    </div>
                </div>
                <div class="submission-column">
                    <form method="POST">
                        <div class="editor-container">
                            <div id="editor">{{ content }}</div>
                        </div>
                        <textarea id="editor-dummy" name="user_input" style="display: none;"></textarea>
                        <button id="submit" type="submit">Submit</button>
                    </form>
                    <pre class="code"><code>{{ output }}</code></pre>
                </div>
            </div>
            <button {% if not complete %} disabled {% endif %} class="next-button"
                    onclick="window.location='{% if next_problem_id %} {{ url_for('problems', problem_id=next_problem_id) }} {% else %} {{ url_for('done') }} {% endif %}';">
                <svg width="70px" viewBox="0 0 800 600" xmlns="http://www.w3.org/2000/svg">
<!--                    <rect class="button-rect" width="800" height="600" rx="80" ry="80" fill="#8F8ECC"/>-->
                    <polygon class="button-arrow" points="100, 200 100, 400 500, 400 500, 500 700, 300 500, 100 500, 200" fill=
                            {% if complete %} "#51a3cc" {% else %} "#8eb7cc" {% endif %}/>
                </svg>
            </button>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.7/ace.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script
    </body>>
</html>