html {
  background-color: #00172a;
}

.text {
    color: #fff;
    font-family: 'Comic Sans MS', 'Segoe UI', ui-sans-serif;
    white-space: pre-line;
}

.no-margin {
    margin: 0;
}

body {
    margin: 15vh 0;
}

.vertical-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontal-layout {
    flex: 1;

    display: flex;
    flex-direction: row;
}

.problem-column {
    flex: 1;
    width: 20vw;
    padding-right: 10px;
}

.submission-column {
    flex: 1;
    width: 69vw;
    padding-left: 10px;

    display: flex;
    flex-direction: column;
}

.code {
    display: block;
    max-width: calc(35vw - 10px);
    overflow: auto;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px;
    margin: 10px 0 0 0;
    background-color: #F0FFFF;
    white-space: pre;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor-container {
    position: relative;
    width: 100%;
}

#editor {
    font-size: 15px;
    border-radius: 5px;
}

.submission-pane {
    margin-top: 10px;
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.timer {
    font-size: 30px;
    margin-top: 50px;
    color: #A0A0A0;
}

button {
  padding: 0.2rem 0.69rem;
  text-align: center;
  font-family: 'Comic Sans MS', 'Segoe UI Semibold', ui-sans-serif;
  font-size: 150%;
  color: white;
  background-color: #9090f1;
  border: none;
  border-radius: 0.84rem;
  transition: all 0.15s ease;
}

button:hover {
  background-color: #ff0090;
  border-radius: 0.42rem;
}
