.text {
    font-family: Segoe UI, ui-sans-serif;
    white-space: pre-line;
}

.no-margin {
    margin: 0;
}

body {
    margin: 15vh 0;
}

.vertical-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontal-layout {
    flex: 1;

    display: flex;
    flex-direction: row;
}

.problem-column {
    flex: 1;
    width: 35vw;
    padding-right: 10px;
}

.submission-column {
    flex: 1;
    width: 35vw;
    padding-left: 10px;

    display: flex;
    flex-direction: column;
}

.code-input {
    white-space: pre-wrap;
    resize: none;
    overflow: auto;
}

.code {
    display: block;
    max-width: calc(35vw - 10px);
    overflow: auto;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px;
    margin: 10px 0 0 0;
    background-color: #F0FFFF;
    white-space: pre;
}

.editor-container {
    position: relative;
    height: 45vh;
}

#editor {
    height: 100%;
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
}

.next-button {
    margin-top: 20px;
    background-color: transparent;
    border: none;
}

.next-button:hover {
    cursor: pointer;
}

.next-button:disabled {
    cursor: default;
}
